* {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; }

body {
  color: #333;
  width: 100vw; }

.navigation {
  background-color: #2C3E50;
  width: 100vw;
  color: white;
  height: 70px;
  position: fixed;
  margin-bottom: 70px;
  z-index: 100; }
  .navigation .burger {
    display: none; }
  .navigation ul {
    height: 70px;
    letter-spacing: 1px;
    float: right; }
    .navigation ul li {
      list-style-type: none;
      display: inline-block;
      font-weight: bolder;
      text-transform: uppercase;
      width: 120px;
      height: 50px;
      margin-top: 10px;
      margin-right: 20px;
      padding-top: 15px;
      padding-left: 15px; }
      .navigation ul li a {
        text-decoration: none;
        color: inherit; }

@media (max-width: 468px) {
  .navigation ul {
    display: none; }
  .navigation .burger {
    display: block; }
    .navigation .burger #burger {
      position: absolute;
      top: 20px;
      right: 10px;
      cursor: pointer; }
    .navigation .burger ul {
      background: #2C3E50;
      width: 100%;
      height: 180px;
      margin: 0px;
      padding: 0px; }
      .navigation .burger ul li {
        display: block;
        width: 100%;
        text-align: center; } }

.intro {
  background-color: #df5d4a;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 100px; }
  .intro .img-intro {
    width: 250px;
    margin: 0px auto; }
    .intro .img-intro img {
      width: 250px;
      height: 250px;
      border-radius: 50%; }

.text-intro {
  text-align: center;
  font-size: 4em;
  font-weight: bolder;
  text-transform: uppercase;
  color: white; }
  .text-intro .line {
    width: 250px;
    border-top: 5px solid; }
  .text-intro p {
    font-size: initial; }

.about {
  height: 100%;
  background-color: #18BC9C; }
  .about .text-intro {
    color: #333; }
  .about .about-text {
    padding-bottom: 120px;
    font-size: 20px;
    color: #2C3E50; }

.portfolio {
  background-color: #E4F1FE; }
  .portfolio .project-item {
    padding: 10px;
    border-radius: 5px; }
    .portfolio .project-item .project-item-text {
      margin: 10px auto;
      text-align: center; }
      .portfolio .project-item .project-item-text h4 {
        text-transform: uppercase;
        color: #2C3E50;
        font-weight: bold; }
      .portfolio .project-item .project-item-text h5 {
        text-transform: uppercase; }

.contact {
  background-color: white; }
  .contact .fill-group {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    height: 70px;
    padding-top: 10px; }
  .contact input[type='text'] {
    padding: 10px 5px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5em; }
  .contact input[type='submit'] {
    background-color: #18BC9C;
    color: white;
    font-size: 1.5em;
    font-weight: bold; }
  .contact textarea {
    padding: 10px 5px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5em;
    resize: none; }

.web {
  margin-top: 100px;
  height: 150px;
  background-color: #2C3E50; }
  .web .link {
    height: 110px;
    margin: 0px auto;
    margin-top: 30px; }
    .web .link h3 {
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold; }
    .web .link div {
      display: inline-block;
      width: 50px;
      color: white;
      background-color: #2C3E50;
      padding: 5px 10px;
      border: 2px solid white;
      border-radius: 50%;
      position: relative;
      left: 70px; }
      .web .link div:hover {
        background-color: white;
        color: #2C3E50; }
    .web .link a {
      text-decoration: none;
      color: inherit; }

.footer {
  background-color: #233140;
  color: white;
  height: 75px; }
  .footer a {
    text-decoration: underline;
    color: white; }
